<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/static/404.css" />
  </head>
  <body>
    <div class="container">
      <div class="error-section">
        <h1>404</h1>
        <h2>Oops! The page you're looking for doesn't exist.</h2>
        <p>It seems you took a wrong turn. Let's guide you back home!</p>
        <a href="/admin" class="home-button">Take Me Home</a>
      </div>
    </div>
  </body>
</html>
